/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html:not(i) {
  color: #ebebeb;
  font-family: 'Orbitron', sans-serif;
}

body {
  text-align: center;
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

li {
  list-style: none;
}

h1 {
  background-color: #efefef;
  padding: 20px 0;
}

/* Scoreboard Styles */

.scoreboard.active .score {
  display: block;
  margin: 30px 0;
  font-size: 6em;
}

#bomb {
  font-size: 5em;
  margin: 60px 0 5px;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreboard.active .initial-setup {
  display: none;
}

.score {
  display: none;
}

#back-arrow {
  display: none;
  font-size: .7em;
  border: 1px solid #ebebeb;
  padding: 20px;
  border-radius: 50%;
  transition: .1s all ease-in-out;
  cursor: pointer;
  opacity: 0.8;
}
.scoreboard.active ~ div > #back-arrow {
  display: inline-block;
}

.initial-setup__choices p,
.initial-setup__choices i {
  font-size: .9em;
  border: 1px solid #ebebeb;
  padding: 50px 20px;
  margin: 60px;
  border-radius: 50%;
  transition: .2s all ease-in-out;
  cursor: pointer;
  opacity: 0.8;
}
.choices i {
  font-size: 1.5em;
  padding: 45px;
}

@media (max-width: 740px) {
  .initial-setup__choices p,
  .initial-setup__choices i {
    margin: 60px 35px;
  }
}
@media (max-width: 570px) {
  .initial-setup__choices p,
  .initial-setup__choices i {
    margin: 60px 15px;
    padding: 35px 10px;
    font-size: 0.8em;
  }
  .choices i {
    font-size: 1em;
    padding: 34px;
  }
}
@media (max-width: 360px) {
  .initial-setup__choices p,
  .initial-setup__choices i {
    margin: 60px 5px;
  }
}

.choices p:hover,
.choices i:hover,
#back-arrow:hover {
  background-color: #ebebeb;
  color: #ED213A;
}

/* Players Styles */

.players {
  display: none;
  margin: 0 40px;
}

.scoreboard.active ~ .players {
  display: flex;
}

.player {
  flex-basis: 50%;
}

.result-message {
  font-size: 3em;
  display: inline;
}

.player > i {
  font-size: 2.5em;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  padding: 35px;
  margin: 0 0 55px;
  opacity: .9;
}

.player > .weapon-choices {
  font-size: 1.7em;
}

.player > .weapon-choices > span {
  margin: 0 10px;
  border: 1px solid #ebebeb;
  padding: 30px 35px;
  border-radius: 50%;
  transition: .2s all ease-in-out;
  opacity: .9;
}

.players__user > .weapon-choices > span {
  cursor: pointer;
}
.players__user > .weapon-choices > span:hover {
  background-color: #ebebeb;
}

.players__computer > .weapon-choices > span {
  cursor: not-allowed;
}

@media (max-width: 940px) {
  .scoreboard.active .score {
    font-size: 4em;
  }
  .result-message {
    font-size: 2em;
    padding-top: 100px;
  }
  .player > i {
    font-size: 1.5em;
    margin: 0 0 35px;
  }
  .player > .weapon-choices {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 10px;
  }
  .player > .weapon-choices > span {
    font-size: .7em;
    padding: 25px 30px;
  }
}
@media (max-width: 400px) {
  .scoreboard.active .score {
    font-size: 4em;
  }
  .result-message {
    font-size: 1.5em;
  }
  .player > i {
    font-size: 1em;
  }
  .player > .weapon-choices > span {
    padding: 20px 25px;
  }
}