/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html:not(i) {
  color: #ebebeb;
  font-family: 'Orbitron', sans-serif;
}

body {
  text-align: center;
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

li {
  list-style: none;
}

h1 {
  background-color: #efefef;
  padding: 20px 0;
}

/* Scoreboard Styles */

.scoreboard.active .score {
  display: block;
  margin: 30px 0;
  font-size: 6em;
}

#bomb {
  font-size: 5em;
  margin: 60px 0 5px;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreboard.active .initial-setup {
  display: none;
}

.score {
  display: none;
}

#back-arrow {
  display: none;
  font-size: .7em;
  border: 1px solid #ebebeb;
  padding: 20px;
  border-radius: 50%;
  transition: .1s all ease-in-out;
  cursor: pointer;
  opacity: 0.8;
}
.scoreboard.active ~ div > #back-arrow {
  display: inline-block;
}

.initial-setup__choices p,
.initial-setup__choices i {
  font-size: .9em;
  border: 1px solid #ebebeb;
  padding: 50px 20px;
  margin: 60px;
  border-radius: 50%;
  transition: .2s all ease-in-out;
  cursor: pointer;
  opacity: 0.8;
}
.choices i {
  font-size: 1.5em;
  padding: 45px;
}

.choices p:hover,
.choices i:hover,
#back-arrow:hover {
  background-color: #ebebeb;
  color: #ED213A;
}

/* Players Styles */

.players {
  display: none;
  margin: 0 40px;
}

.scoreboard.active ~ .players {
  display: flex;
}

.player {
  flex-basis: 33%;
}

.result-message {
  font-size: 3em;
}

.player > i {
  font-size: 2.5em;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  padding: 35px;
  margin: 0 0 55px;
  opacity: .9;
}

.player > .weapon-choices {
  font-size: 1.7em;
}

.player > .weapon-choices > span {
  margin: 0 10px;
  border: 1px solid #ebebeb;
  padding: 30px 35px;
  border-radius: 100px;
  transition: .2s all ease-in-out;
  opacity: .9;
}

.players__user > .weapon-choices > span {
  cursor: pointer;
}
.players__user > .weapon-choices > span:hover {
  background-color: #ebebeb;
}

.players__computer > .weapon-choices > span {
  cursor: not-allowed;
}